body {
    font-family: 'Roboto', sans-serif;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}
.grid-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.grid {
    display: grid;
    width: 50vw;
    height: 50vw;
}

.cell {
    width: 1fr;
    height: 1fr;
    background-color: grey;
}

footer {
    display: flex;
    justify-content: center;
    width: 100vw;
    background-color: lightpink;
    color: white;
    padding: 4vh 0;
}