body {
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(135deg, white, lightpink);
    margin: 0;
}

h1 {
    color:rgba(105, 120, 156, 0.425)
}

button {
    background-color: transparent;
    border: 1px solid slateblue ;
    border-radius: 25px;
    padding: 1vw;
    font-size: 1vw;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.color-picker {
    background-color: transparent;
    border: 1px solid slateblue ;
    border-radius: 25px;
    padding: 1vw;
    font-size: 1vw;
    width: 10vw;
    height: 10vw;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

.sketch-content {
    display: flex;
    justify-content: center;
    width: 80vw;
}

.ui {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    flex: 1 1 auto;
}

input {
    display: flex;
}

.grid-wrapper {
    display: flex;
    justify-content: center;
    align-self: center;
    flex: 2 2 auto;
}

.grid {
    display: inline-grid;
    border: 2px solid slateblue;
    width: 40vw;
    height: 40vw;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.cell {
    width: 1fr;
    height: 1fr;    
}

footer {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    width: 100vw;
    color: white;
    padding: 4vh 0;
}